In [1]:
# sorted 병합 정렬 기반 라이브러리

array = [7,5,9,0,3,1,6,2,4,8]

result = sorted(array)
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
# sort() : 리스트 객체의 내장 함수

array = [7,5,9,0,3,1,6,2,4,8]

array.sort()
print(array)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
# key를 사용하기 in 튜플

array = [('바나나',2),('사과',5),('당근',3)]

def setting(data):
    return data[1]  # 두번째 원소인 숫자를 기준으로

result = sorted(array, key = setting)
print(result)

[('바나나', 2), ('당근', 3), ('사과', 5)]